* {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.header{
  color: black;
  display: flex;
  padding: 10px;
  width: 100%;
}


.header__nav__list{
  display:inline-block;
  display: flex;
  justify-content: flex-end;
}

